
.identifiers-container {
  background: linear-gradient(270deg, #3d067b, #430701); /* Gradient background */
  background-size: 400% 400%; /* Set background size for animation */
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  opacity: 0; /* Start off invisible */
  transform: translateX(-100%); /* Start off-screen */
  animation: gradientAnimation 10s ease infinite; /* Added gradient animation */
}

.identifiers-container.slide-in {
  animation: slideIn 0.6s ease forwards, gradientAnimation 10s ease infinite; /* Apply the slide-in animation with gradient */
}

@keyframes slideIn {
  from {
    transform: translateX(100%); /* Start off-screen */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Slide into view */
    opacity: 1;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #e0e0e0;
}

.form-group input {
  width: 200px;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 14px;
  background-color: #2a2a2a;
  color: #e0e0e0;
}

.description {
  font-size: 14px;
  color: #b0b0b0;
  margin-top: 5px;
  text-align: center;
  display: none; /* Hidden by default */
}

.form-group input:focus + .description {
  display: block; /* Show description when input is focused */
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.back-button, .save-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  background-color: #444;
  color: #e0e0e0; 
}

.save-button {
  background-color: #28a745;
  color: #fff;
}
