/* src/components/AvailabilityLayer.css */
.availability-layer-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .availability-layer-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .availability-layer-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .availability-layer-item:hover {
    transform: scale(1.05);
  }
  
  .availability-layer-icon {
    margin-bottom: 10px;
  }
  
  .availability-layer-icon img {
    width: 80px; /* Adjust the size of the image */
    height: 80px; /* Ensure the image is square */
    object-fit: cover; /* Ensure the image covers the container without distortion */
  }
  
  .availability-layer-details {
    text-align: center;
  }
  
  .availability-layer-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  