/* src/components/Identifiers.css */
.identifiers-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the start (left) */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 200px; /* Set a fixed width to make the text boxes smaller */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Adjust the font size for better appearance */
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .back-button, .save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button {
    background-color: #ccc;
  }
  
  .save-button {
    background-color: #28a745;
    color: #fff;
  }
  