.stacks-container {
  background-color: #f0f0f0; /* Same background color as the home-container */
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  position: relative;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.stacks-container.fade-out {
  opacity: 0;
  transform: translateX(-100%);
}

.stacks-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.stack-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.stack-item:hover {
  transform: scale(1.15);
}

.stack-icon {
  font-size: 50px; /* Adjust the size of the emoji */
  margin-bottom: 10px;
}

.stack-details {
  text-align: center;
}

.stack-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stack-description {
  font-size: 14px;
  color: #555;
}
