/* src/components/Tokens.css */
.tokens-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.tokens-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.token-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 150px; /* Adjust width as needed */
  transition: transform 0.3s;
}

.token-icon {
  margin-bottom: 10px;
}

.token-image {
  width: 50px; /* Adjust size of the image */
  height: 50px; /* Ensure the image is square */
  object-fit: cover; /* Ensure image covers the space without distortion */
}

.token-details {
  text-align: center;
}
.token-item:hover {
  transform: scale(1.15);
}

.token-name {
  font-size: 16px;
  font-weight: bold;
}

/* Back button styling */
.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff; /* Primary color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}
